* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #4ccd95, #4cc38a, #4cba7f, #4bb074, #4aa76a, #509b5f, #548f55, #55834d, #577145, #546040, #4d513d, #42423b);
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;

}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
}

.form-imagem {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #291f1f;
    padding: 3rem;
}

.form-imagem {
    color: #fff;
    font-size: 30px;
}

.form-header {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 11rem;
    height: 0.3rem;
    background-color: #1C1C1C;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.2rem;
}

.input-box input {
    margin: 0.3rem 0;
    padding: 0.2rem 0.9rem;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 3px 6px #1C1C1C;
    width: 400px;

}

.input-box label {
    margin-top: 0.3rem;
    font-size: 0.90rem;
    font-weight: 600;
    color: #000000;
}

.login-botao button {
    background: rgb(209, 7, 175);
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;

}

.login-botao button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 600;
    color: #000000;

}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }

    .input-grupo {
        flex-direction: column;
        padding-right: 5rem;
        max-height: 10rem;

    }

    @media screen and (max-width: 580px) {
        .container {
            width: auto;
            height: auto;
        }

        .input-grupo input {
            width: auto;
        }
    }

}